* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #ccc;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.stream {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stream-title {
  margin-bottom: 1rem;
}

.main__chat-section {
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
  grid-column: 2;
  overflow-y: scroll;
}

.main__chat-container {
  min-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__chat__message {
  min-width: 10rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.main__chat__message-image {
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.main__chat__message-name {
  font-size: 0.75rem;
  padding: 5px;
}
