body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light,
.light > * {
  background-color: #f0f0f0;
  color: #282c34;
}

.dark,
.dark > * {
  background-color: #282c34;
}

nav {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.theme-slider-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.toggle {
  position: relative;
  width: 4.8rem;
  height: 2.25rem;
  padding: 0.1rem 0.3rem;
  background-color: #ccc;
  border-radius: 12.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.slider {
  position: absolute;
  left: 0.25rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dark > nav > .theme-slider-toggle .toggle {
  background-color: #3f444d;
}

.dark > nav > .theme-slider-toggle .slider {
  transform: translateX(3rem);
}

.icon-container {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dark > nav > .theme-slider-toggle .moon-icon {
  color: #282c34;
}

.spacer {
  width: 0.625rem;
}
